@model List<Movie>
@{
    ViewBag.Title = "My Movies";
}

<style>
    h1 {
        margin-top: 0;
        color: navy;
    }

    label {
        display: inline-block;
        width: 10em;
        padding-right: 1em;
    }

    div {
        margin-bottom: .5em;
    }

</style>

<h2>Movie List</h2>
<a asp-controller="Movie" asp-action="Add">Add New Movie</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Name</td>
                <td>@movie.Year</td>
                <td>@movie.Genre.Name</td>
                <td>@movie.Rating</td>
                <td>
                    <a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.MovieId" asp-route-slug="@movie.Slug" class="btn btn-primary">Edit</a> 
                    <a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.MovieId" asp-route-slug="@movie.Slug" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>